<!DOCTYPE html>
<html data-ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DrawR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body data-ng-controller="DrawCtrl">
    <div id="headerTools" class="btn-toolbar">
        <img class="btn" src="img/icons/page_white_add.png" data-ng-click="newCanvas()">
        <img class="btn" src="img/icons/disk.png" data-ng-click="save()">
        <img class="btn" src="img/icons/image.png" data-ng-click="importImage()">
        
        <span class="input-append">
       		<input class="input input-mini" type="number" ng-model="scalePercent">
       		<span class="add-on">%</span>
        </span>
    </div>

    <div id="content">
        <div id="drawTools">
            <div class="pagination-centered">
                <img class="btn" src="img/icons/pencil.png" data-ng-click="drawTool('Outliner')">
                <img class="btn" src="img/icons/paintbrush.png" data-ng-click="drawTool('Brush')">
                <img class="btn" src="img/icons/cross.png" data-ng-click="drawTool('Ereaser')">
                <img class="btn" src="img/icons/paintcan.png" data-ng-click="drawTool('Bucket')">
                <img class="btn" src="img/icons/chart_line.png" data-ng-click="drawTool('Line')">
            </div>

            <div id="colorpicker" class="colorpicker" data-ng-mouseup="changeColorUp($event)" data-ng-mousemove="changeColorMove($event)">
                <div class="slider"></div>
                <input id="change" type="range" data-ng-model="hue" min="0" max="300" steps="1" data-ng-click="hue = $event.target.value">
                <div class="chooser" data-ng-style="{backgroundColor: 'hsl('+hue+', 100%, 50%)'}" data-ng-mousedown="changeColorDown($event)">
                    <div class="pointer" style="position: absolute; right: -3px; bottom: -3px; width: 4px; height: 4px; border-radius: 3px; border: 1px solid white; margin-top: -3px; margin-left: -3px"></div>
                </div>
            </div>

            <div class="activeColor" data-ng-style="{backgroundColor: drawR.foregroundColor}">
            </div>
            <div data-ng-switch data-on="drawR.drawMode">
                <dl data-ng-switch-when="Outliner">
                    <dt>Size:</dt>
                    <dd>
                        <input type="number" min="1" value="1" data-ng-model="drawR.drawStyle[drawR.drawMode].lineWidth">
                    </dd>
                    <dt>Min. Size:</dt>
                    <dd>
                    	<input type="number" min="0" value="1" max="1" step="0.01" data-ng-model="drawR.drawStyle[drawR.drawMode].minLineWidth">
                    </dd>
                </dl>
                <dl data-ng-switch-when="Brush">
                    <dt>Size:</dt>
                    <dd>
                        <input type="number" min="1" value="1" data-ng-model="drawR.drawStyle[drawR.drawMode].lineWidth">
                    </dd>
                </dl>
                <dl data-ng-switch-when="Line">
                    <dt>Size:</dt>
                    <dd>
                        <input type="number" min="1" value="1" data-ng-model="drawR.drawStyle[drawR.drawMode].lineWidth">
                    </dd>
                </dl>
                <dl data-ng-switch-when="Ereaser">
                    <dt>Size:</dt>
                    <dd>
                        <input type="number" min="1" value="1" data-ng-model="drawR.drawStyle[drawR.drawMode].lineWidth">
                    </dd>
                </dl>
            </div>
        </div>

        <div id="surfaceContainer">
            <div id="drawSurface"
            	data-ng-style="{
            		backgroundSize: (80 * scalePercent / 100) + 'px ' + (80 * scalePercent / 100) + 'px',
            		backgroundPosition: '0 0, ' + (80 * scalePercent / 200) + 'px ' + (80 * scalePercent / 200) + 'px',
            		height: (drawR.options.height * scalePercent / 100) + 'px',
            		width: (drawR.options.width * scalePercent / 100) + 'px',
            		transform: 'rotate3d(0, 0, 1, ' + rotation + 'deg)'}">
            </div>
        </div>

        <div id="drawLayers">
            <dl>
                <dt>Opacity</dt>
                <dd>
                    <span class="input-append">
                        <input class="input input-mini" type="number" min="0" step="1" max="100" data-ng-model="drawR.activeLayer.opacity">
                        <span class="add-on">%</span>
                    </span>
                </dd>
                <dt>Blend Mode</dt>
                <dd>
                    <select data-ng-model="drawR.activeLayer.blendMode">
                        <option value="normal">Normal</option>
                        <option value="multiply">Multiply</option>
                    </select>
                </dd>
            </dl>
        
            <div class="btn-group">
                <img class="btn" src="img/icons/add.png" data-ng-click="addLayer()">
                <img class="btn" src="img/icons/delete.png" data-ng-click="remove()">
                <img class="btn" src="img/icons/arrow_up.png" data-ng-click="moveUpLayer()" data-ng-class="{disabled: disableMoveUpLayer()}">
                <img class="btn" src="img/icons/arrow_down.png" data-ng-click="moveDownLayer()" data-ng-class="{disabled: disableMoveDownLayer()}">
            </div>

            <ul>
                <li data-ng-repeat="layer in drawR.layers" data-ng-class="{alert: selectedLayer == layer, 'alert-info': selectedLayer == layer}" data-ng-click="select(layer)">
                    <div class="input-prepend">
                        <div class="btn-group btn-group-vertical">
                            <span class="btn" data-ng-click="drawR.toggleActive(layer)">
                                <img data-ng-class="{invisible: drawR.activeLayer != layer}" src="img/icons/pencil.png">
                            </span>
                            <span class="btn" data-ng-switch data-on="layer.visible" data-ng-click="toggleVisibility(layer)">
                                <img src="img/icons/eye.png" data-ng-switch-when="true">
                                <img src="img/icons/eye.png" data-ng-switch-default style="opacity: 0">
                            </span>
                        </div>
                        <input class="span2 name" type="text" data-ng-model="layer.name">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script>window.angular || document.write('<script src="js/angular-1.0.4.min.js"><\/script>')</script>
    <!--<script src="js/canvas-toBlob.js"></script>
    <script src="js/filesaver.js"></script>
    <script src="js/drawr.js"></script>
    <script src="js/init.js"></script>-->
    <script src="js/script.min.js"></script>
</body>
</html>